html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

figcaption {
    color: rgb(22, 20, 20);
    height: 15%;
    text-align: center;
}
figure {
    justify-content: center;
    border: 5px solid rgb(33, 33, 245);
    border-radius: 35px;
    background-color: rgb(137, 162, 243);
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    height: 90%;
    object-fit: cover;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

@media all and (min-width: 772px) {
    .grid {
        grid-template-columns: 48% 48%;
    }

    figure {
        border-radius: 50%;
    }

    figcaption {
        height: 10%;
    }  

    figure:nth-last-child(1) {
        grid-column: 1 / span 2;
    }
    
}

@media all and (min-width: 992px) {
    figure {
        border-radius: 0;
    }

    figure:nth-child(3n) {
        grid-column: 1 / span 2;
    }
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: unset;
    }
 }


@media(prefers-color-scheme: dark) {
    figure {
        background-color: rgb(15, 10, 10);
        border: 5px solid rgb(15, 10, 10);
    }
    figcaption {
        color: crimson;
    }
}